
.header {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px 0px 0px;
  
  }
  
  .header-logo{
    max-width: 230px;
    max-height: 100px;
    margin: 10px 0px 0px 20px;
  }
  
  .header-logo img{
     width: 100%;
     height: 100%;
     object-fit: cover;
  }

  @media (max-width: 600px){
    .header-logo img{
      display: none;
   }
   }
  
